{% extends 'main_blog/base_auth.html' %}
{% block form_data %}
  <div class="form-data">
    <div class="login">
      <form method="POST">
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% csrf_token %}
        {% for f in form %}
        <label for="{{ f.id_for_label }}">{{ f.label }}</label><br>
        {{ f }}<br>
        <div class="form-errors">
          {{ f.errors }}
        </div>
        {% endfor %}
        <button class='enter' type="submit">Add the article</button>
      </form>
    </div>
  </div>
{% endblock %}