<footer>
		<div class="footer">
			<div class="info_about_site">
				<span class='text_info'>
					This site is provided for educational purposes only.
				</span>
			</div>
			<div class="contact">
				<ul>
					<li class='about_us'>
						<a href="">About us</a>
					</li>
					<li class='github'>
						<a href="https://github.com/Nobeliuse">Github</a>
					</li>
					<li class='email'>
						Email : test
					</li>
				</ul>
			</div>
			<div class="info_about_us">
				By Welder soft. All rights reserved.
			</div>
		</div>
	</footer>