header{
	background-image: url("../images/header.jpg");
	background-size: cover;
	height: 1000px;
	background-repeat: no-repeat;
}
.form-data{
	font-size: 25px;
	margin-left: 60%;
	margin-top: 20%;
}
.enter{
	padding: 1%;
	font-size: 20px;
	margin-top: 2%;
}
.login, .password{
	padding: 2%;
	width: 70%;
	margin-top: 4%;
	margin-bottom: 4%;
	border-radius: 4px;
	font-size: 20px;

}
